@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <ul>
        <li>
            ChartJs
            <ul>
                <li>@Html.ActionLink("All Chart Types", "Index", "ChartJs")</li>
                <li>@Html.ActionLink("Purchase History", "PurchaseHistory", "ChartJs")</li>
                <li>@Html.ActionLink("Purchase Fluctuation", "PurchaseFluctuation", "ChartJs")</li>
                <li>@Html.ActionLink("Declining Sales", "DecliningSales", "ChartJs")</li>
            </ul>
        </li>
        <li>
            Google Charts
            <ul>
                        <li>@Html.ActionLink("Many Chart Types", "Index", "Google")</li>
                        <li>@Html.ActionLink("Purchase History", "PurchaseHistory", "Google")</li>
                        <li>@Html.ActionLink("Purchase Fluctuation", "PurchaseFluctuation", "Google")</li>
                        <li>@Html.ActionLink("Declining Sales", "DecliningSales", "Google")</li>
                        <li>@Html.ActionLink("District Chart", "DistrictChart", "Google")</li>
                        <li>@Html.ActionLink("Branch Chart", "BranchChart", "Google")</li>
                <li>@Html.ActionLink("Time Line", "TimelineChart", "Google")</li>
                <li>@Html.ActionLink("Trendline Time Line", "TrendlineTimelineChart", "Google")</li>
                <li>@Html.ActionLink("Branch Time Line", "TimelineBranchChart", "Google")</li>
            </ul>
        </li>
    </ul>
</div>